<div class="container">
    <header>
        <h1 class="title"><a href="/#/">Npm Pulse</a></h1>
    </header>

    <section id="content">
        <div ng-app="npm-pulse">
            <div ng-view></div>
        </div>
    </section>
    <footer>
        <hr>
        <iframe src="http://nodeknockout.com/iframe/applejacks" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
    </footer>
</div>