<header>
    <h1>Npm Pulse</h1>
</header>

<div class="container">
    <div ng-app="npm-pulse">
        <div ng-view></div>
    </div>
</div>
<hr>
<footer>
    <iframe src="http://nodeknockout.com/iframe/applejacks" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</footer>