
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}