@linkColor      : #008080;
@linkHoverColor : darken(@linkColor, 10%);

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: @linkColor;
  text-decoration: none;
  &:visited {
    color: @linkColor;
    text-decoration: underline;
    outline: 0;
  }
  &:hover { color: @linkHoverColor; }
  &:focus { color: @linkHoverColor; }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

button{
  background: #eee;
  border: none;
  height: 50px;
  padding: 0 20px;
}

input[type="text"]{
  height: 44px;
  box-shadow: none;
  border: 1px #eee solid;
  padding-left: 10px;
}

.container{
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.caps {
  text-transform: uppercase;
}

.contributor {
  //border-bottom: 1px solid #f0f0f0;
  text-align:center;
  margin-bottom: 10px;
  img {
    max-width: 40px
  }
  p {
    font-size: 12px;
  }
}

.contributor-vis {
  height : 300px;
  margin : 0;
}

header{
  text-align: center;
  .title a{
    color: #34495e;
    text-decoration: none;
  }
}

#content{
  margin-bottom:20px;
  .search{
    text-align: center;
  }
}

footer{

}

.background-row {
  position : absolute;
  width : 100%;
  opacity: .3;
}

.project{
  .project-meta{
    text-align: right;
  }
  .project-github-data{
    margin-top: 22px;
    text-align:right;
    .project-icon{
      margin: 0 10px;
      i{
        margin-left: 4px;
      }
    }
  }
}

#version-list{
  width: 38px;
  margin: auto;
}