<% layout('../layout') -%>

<div class="container">
  <header>
    <h1 class="title"><a href="/#/">Npm Pulse</a></h1>
  </header>

  <section id="content">
    <div ng-app="npm-pulse">
      <div ng-view></div>
    </div>
  </section>
</div>